
body {
background-color: mistyrose;;
color: darksalmon;;
font-family: unset;
font-style: italic;
}

div {
 min-height: 20vh;
 width: 100vw;
}

h1, h2 {
 text-align: center; 
 font-size: 5em;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}
